window.config = {
  'broker': 'ws://your-broker-here:9001',
  'topics': {
    'your/special/topic/22': {
      'url': 'http://www.google.ch',
      'title': 'Google CH'
    },
    'your/special/topic/42': {
      'url': 'http://www.test.ch/',
      'title': 'Test'
    }
    'your/special/topic/99': {
      'url': '',
      'title': ''
    },
    'your/special/topic/999': null
  }
};
